<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}CompHydro{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="{% static 'assets/bootstrap.min.css' %}"
          type="text/css" media="all"/>

    <link rel="stylesheet" href="{% static 'ajax_select/css/ajax_select.css' %}"
          media="screen"/>
    <link rel="stylesheet" href="{% static 'assets/custom.min.css' %}"
          media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/extra.css' %}">
    <link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.20.1/ol.css" type="text/css" media="all" rel="stylesheet">
    <link href="{% static 'gis/css/ol3.css' %}" type="text/css" media="all" rel="stylesheet">

    <script type="text/javascript" src= "{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
    <script type="text/javascript" src= "{% static 'ajax_select/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src= "{% static 'ajax_select/js/ajax_select.js' %}"></script>
    <script type="text/javascript" src= "{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script>
    <script type="text/javascript" src= "{% static 'admin/js/calendar.js' %}" ></script>
    <script type="text/javascript" src= "{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>

<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="{% url 'index' %}" class="navbar-brand">CompHydro</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse"
                    data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{% url 'index' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'reduction:maximum' %}">Annual Maximums</a>
                </li>
                <li>
                    <a href="{% url 'reduction:parcial' %}">Peaks Over Threshold</a>
                </li>
                <li>
                    <a href="{% url 'dados:index' %}">Add Data</a>
                </li>
                <li>
                    <a href="#">Info Data</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a>Hi, {{ user.first_name }}</a></li>
                    <li><a href="{% url 'logout' %}">Sign out</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Sign in</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 2em;">
    {% block container %}{% endblock %}
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled">
                    <li class="pull-right"><a href="#top">Top</a></li>
                    <li><a href="{% url 'index' %}">Home</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
<script src="{% static 'assets/bootstrap.min.js' %}"></script>
</body>
</html>