{% extends "base.html" %}

{% load widget_tweaks %}

{% block container %}
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Add Data</div>
                <div class="panel-body">
                    <a href="{% url 'dados:organizations' %}">Organizations</a>
                </div>
                <div class="panel-body">
                    <a href="{% url 'dados:samplingfeature' %}">Sampling Features</a>
                </div>
                <div class="panel-body">
                    <a href="{% url 'dados:methods' %}">Methods</a>
                </div>
                <div class="panel-body">
                    <a href="{% url 'dados:actions' %}">Actions</a>
                </div>
                <div class="panel-body">
                    <a href="{% url 'dados:feature' %}">Feature Actions</a>
                </div>
                <div class="panel-body">
                    <a href="{% url 'dados:variables' %}">Variables</a>
                </div>
                <div class="panel-body">
                    <a href="{% url 'dados:units' %}">Units</a>
                </div>
                <div class="panel-body">
                    <a href="{% url 'dados:processinglevel' %}">Processing Levels</a>
                </div>
                <div class="panel-body">
                    <a href="{% url 'dados:results' %}">Results</a>
                </div>
                <div class="panel-body">
                    <a href="{% url 'dados:time_serie' %}">Time Series Results</a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="col-md-10 col-md-offset-0">
                <div class="page-header">
                    <h2>{% block title %}{% endblock %}</h2>
                </div>
                <div class="page-header">
                    <form class="form-horizontal" method="post">
                        {% csrf_token %}
                        <fieldset>
                            {% for field in form %}
                                <div class="form-group">

                                    <label for="{{ field.auto_id }}" class="col-md-3 control-label">
                                        {{ field.label }}
                                    </label>
                                    <div class="col-md-9">
                                        {{ field|add_class:'form-control' }}
                                    </div>
                                </div>
                            {% endfor %}
                            {% block botao %}{% endblock %}
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}