{% extends "base.html" %}

{% load widget_tweaks %}

{% block container %}
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Add Data</div>
                <div class="panel-body">
                    <a href="#">Hydrogram</a>
                </div>
                <div class="panel-body">
                    <a href="#">GP: Density</a>
                </div>
                <div class="panel-body">
                    <a href="#">GP: Cumulative</a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="col-md-10 col-md-offset-0">
                <div class="page-header">
                    <h2>{% block title %}{% endblock %}</h2>
                </div>
                <div class="page-header">
                    <form class="form-horizontal" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset>
                            {% for field in form %}
                                <div class="form-group">

                                    <label for="{{ field.auto_id }}" class="col-md-3 control-label">
                                        {{ field.label }}
                                    </label>
                                    <div class="col-md-9">
                                        {{ field|add_class:'form-control' }}
                                    </div>
                                </div>
                            {% endfor %}
                            {% block botao %}{% endblock %}
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}